@font-face {
    font-family: "masadamono";
    src: url("fonts/MasadaMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "arbelreg";
    src: url("fonts/ArbelHagilda_Regular\ [Menukad].woff2") format("woff2");
}

@font-face {
    font-family: "arbelbold";
    src: url("fonts/ArbelHagilda_Bold\ [Menukad].woff2") format("woff2");
}

@font-face {
    font-family: "masadamono-demiitalik";
    src: url("fonts/MasadaMono-DemiItalic.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    display:flex;
    width: 1440px;
    height: 822px;
}

#bookname {
    height: 822px;
    text-align: center;
}

.headnbutt {
    display: flex;
    flex-direction: column;
    height: 822px;
}

.headertextbox {
    width: 750px;
    height: 411px;
    text-align: center;
}

.headertextbox h1 {
    margin-top: 350px;
}

.bookname h3 {
    transform: rotate(90deg)  translateX(390px) translateY(-130px); 
    text-align: center;

}

.myname h3 {
    transform: rotate(-90deg) translateX(-390px) translateY(-139px);
    text-align: center; 
    margin-left: 20px;  
}

.bookname, .myname {
    width: 345px;
}

h1 {
    font-size: 3rem;
    /* color: #f26c50; */
    width: 100%;
    text-align: center;
    bottom: 5px;
}

h1, h2, h3 {
    font-family: "masadamono", sans-serif;
}

/*.placeholder {
    width: 1440px;
    height: 822px;
    background-color: blue;
    position: relative;
    z-index: 200;*/
}

article p.opaning {
    font-family: "masadamono";
    width:750px;
    font-size: 1.2em;
    line-height: 1.1em;
    letter-spacing: 0.01em;
    min-width: 200px;
    margin: 150px auto;
}




.container {
    display: flex;  
    margin-top: 100px;
}

.left {
    margin-left: 10.5%;
    position: sticky;
    top: 0;  
    align-self: flex-start; 
}

.right {
    margin-right: 10.5%;
}

.mainarticle {
    font-family: "arbelreg", serif;
    font-size: 1.1em;
    line-height: 1.3em;
    height: auto;
    width: 50%;
    min-width: 400px;
    /*border: solid 5px red; */
}

.backround {
    color: #f26c50;
    opacity: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-decoration: underline;

}


.placeholder1 {
    width: 120px;
    height: 85px;
    background-color: blue; 
    
}

footer h3 {
    width: 100%;
    margin-right: auto;
}

nav {
    display: flex;

}

.footer {
    display: flex;
    font-family: "masadamono-demiitalik", sans-serif;
    color:#f26c50;
    border-width: 3px;
    border-color: blue;
    border-style: dotted;
    height: 100px;
    width: 150px;
    padding: 11px;
    margin-top: 150px;

}

img {
    width: 20px;
}

.box {
    display:flex;
    width: 100%;
}

.thirdpart {
    width: 100%;
    font-family: "arbelreg";

}

#woman {
    width: 440px;
    font-family: "arbelreg", serif;
}
#man {
    width: 440px;
    font-family: "arbelreg", serif;
}


.manvswoman {
    width: 900px;
    font-family: "arbelreg", serif;
    margin:auto;
}

.summery {
    width: 900px;
    font-family: "arbelreg", serif;
    margin:auto;
}
 .woman .man {
     width: 400px;
 }

 ul {
     list-style: none;
 }






