@font-face {
    font-family: "masadablack";
    src: url("fonts/Masada-Black.woff2") format("woff2");
}

@font-face {
    font-family: "masadamediumitalic";
    src:url("fonts/Masada-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "masadabookitalic";
    src: url("fonts/Masada-BookItalic.woff2") format("woff2");
}

@font-face {
    font-family: "masadabold";
    src: url("fonts/Masada-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "masadamedium";
    src: url("fonts/Masada-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "arbelreg";
    src: url("fonts/ArbelHagilda_Regular\ [Menukad].woff2") format("woff2");
}

@font-face {
    font-family: "arbelbold";
    src: url("fonts/ArbelHagilda_Bold\ [Menukad].woff2") format("woff2");
}

@font-face {
    font-family: "masada-book";
    src: url(fonts/Masada-Book.woff2) format(woff2);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.writer {
    font-family:"masadamediumitalic", serif;
    text-align: center;
    font-size: 1.6em;
    width: 1440px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 0px;
}

h1 {
    font-family: "masadablack", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.05em;
    /* color: #f26c50; */
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: -2px;
}

.opanimg {
    width: 1440px;
}

.credit {
    font-family: "masadabookitalic", serif;
    font-size: 0.8em;
    width: 1440px;
    text-align: center;
}

.opaning {
    font-family: "masada-book";
    font-size: 1.95em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    width: 980px;
    margin: 150px auto;
}

.medium {
    font-family: "masadamedium", serif;
}


h2 {
    font-family: "masadabold", serif;
    width: 1440px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-top: 0px auto 0px;
    position: sticky;
    top: 0px;
}


.aboutmain {
    font-family: "masadabookitalic", serif;
    font-size: 1.2em;
    width: 50%;
    margin: 350px auto 100px;
}

img {
    width: 100%;
    margin: auto;
}

.container {
    width: 45%;
    margin: 0px auto;
}

.container .credit {
    position: relative;
    bottom: 40px;
    left: 600px;
}

.info {
    width: 45%;
    margin: 30px auto;
}

.main{
    font-family: "arbelreg", serif;
    font-size: 1.1em;
    line-height: 1.3em;
    height: auto;
    width: 100%;
    min-width: 400px;
    margin: 100px auto;
    position: sticky;
    align-self: flex-start;
}

/* .backround {
    color: #f26c50;
    opacity: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-decoration: underline;

}
 */

 .footer {
    /* font-family: "masadabold", serif;
    font-size: 1.2em;
    width: 1440px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px; */
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
 } 

#footerer {
    margin-top: -2px;
 }
