@font-face {
    font-family: "masadamono";
    src: url("fonts/MasadaMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "arbelreg";
    src: url("fonts/ArbelHagilda_Regular\ [Menukad].woff2") format("woff2");
}

@font-face {
    font-family: "arbelbold";
    src: url("fonts/ArbelHagilda_Bold\ [Menukad].woff2") format("woff2");
}

@font-face {
    font-family: "masadamono-demiitalik";
    src: url("fonts/MasadaMono-DemiItalic.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    display:inline-block;
    width: 100%;
    min-width: 400px;
    height: 100%;
}

h1 {
    font-size: 5rem;
    color: #f26c50;
    display: inline-block;
    /*border: solid 5px red;*/
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 5px;
}

h1, h2, h3 {
    font-family: "masadamono", sans-serif;
}

.placeholder {
    width: 100%;
    height: 80%;
    background-color: blue;
    position: relative;
    z-index: 200;
}

.smallheader {
    font-family: "arbelbold", serif;
}

.opaning {
    font-family: "masadamono";
    display: inline-block;
    font-size: 2em;
    min-width: 200px;
    margin: 150px;
    /* border: solid 5px red; */

}

.container {
    display: flex;  
    margin-top: 100px;
}

.left {
    margin-left: 10.5%;
}

.right {
    margin-right: 10.5%;
}

.article {
    font-family: "arbelreg", serif;
    font-size: 1.4em;
    height: auto;
    width: 38%;
    min-width: 400px;
    /*border: solid 5px red; */
}

.backround {
    color: #f26c50;
    opacity: 90%;
    position: fixed;
    top: 50%;
    left: 38%;
    z-index: 100;
    text-decoration: underline;

}


.placeholder1 {
    width: 120px;
    height: 85px;
    background-color: blue; 
    
}

footer h3 {
    width: 100%;
    margin-right: 150px;
}

nav {
    display: flex;

}

.footer {
    display: flex;
    font-family: "masadamono-demiitalik", sans-serif;
    color:#f26c50;
    border-width: 3px;
    border-color: blue;
    border-style: dotted;
    height: 100px;
    width: 150px;
    padding: 11px;
    margin-top: 150px;

}


